
body { 
  background-color: #f8f9fa; 
  } 
  .menu-section { 
    background-color: #d3d3d3; 
    padding: 20px; 
    border-radius: 5px; 
  } 
  .menu-heading { 
    text-align: center; 
    margin: 20px 0; 
    font-weight:bold;
  }
  h4{
    text-align: center;
  }
  ul{
    text-align: center;
  }
